@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-color: variables.$color-bg-main;
  color: variables.$color-text;
}

a{
  text-decoration: none;
  color: variables.$color-text;
}

h1{
  font-family: variables.$font-family-fifth;
  font-size: variables.$font-size-full-title;
  font-weight: variables.$font-weight-semi-bold;
  line-height: 1.37;

  @include mixins.respond(laptop){
    font-size: variables.$font-size-full-xxxl;
  }

  @include mixins.respond(tablet){
    font-family: variables.$font-family-title-mobile;
    font-size: variables.$font-size-mobile-title;
    font-weight: variables.$font-weight-bold;
  }

  @include mixins.respond(mobile){
    font-family: variables.$font-family-title-mobile;
    font-size: variables.$font-size-mobile-title;
    font-weight: variables.$font-weight-bold;
  }
}

h2{
  font-family: variables.$font-family-primary;
  font-size: variables.$font-size-full-xxl;
  font-weight: variables.$font-weight-bold;

  @include mixins.respond(tablet){
    font-size: variables.$font-size-full-xxs;
  }

  @include mixins.respond(mobile){
    font-size: variables.$font-size-full-xxs;
  }
}