@font-face {
  font-family: "Alethia Next";
  src: url("../../fonts/alethianext.woff2") format("woff2"),
       url("../../fonts/alethianext.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}