@use "../variables/variables" as v;
@use "../variables/mixins" as m;

.btn-gradient{
  color: v.$color-text;
  fill: v.$color-text;
  background: linear-gradient(130deg,
          v.$color-gradient-4 18.31%,
          v.$color-gradient-3 43.26%,
          v.$color-gradient-1 85.44%,
          v.$color-gradient-2 100%);
  box-shadow: 0 6px 140px 0 rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(276px);
  -webkit-backdrop-filter: blur(276px);
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg,
          v.$color-border-gradient-1 47%,
          v.$color-border-gradient-2 97%) 1;
  transition: opacity 0.5s ease;

  @include m.respond(mobile){
    border: 1.7px solid;
    border-image: linear-gradient(45deg,
            v.$color-border-gradient-1 47%,
            v.$color-border-gradient-2 97%) 1;
  }


  @include m.respond(pc){
    &:hover{
      background: linear-gradient(-130deg,
              v.$color-gradient-4 18.31%,
              v.$color-gradient-3 43.26%,
              v.$color-gradient-1 85.44%,
              v.$color-gradient-2 100%);

      border-image: linear-gradient(-45deg,
              v.$color-border-gradient-1 47%,
              v.$color-border-gradient-2 97%) 1;
      opacity: 0.9;
    }
  }

  @include m.respond(laptop){
    &:hover{
      background: linear-gradient(-130deg,
              v.$color-gradient-4 18.31%,
              v.$color-gradient-3 43.26%,
              v.$color-gradient-1 85.44%,
              v.$color-gradient-2 100%);
      border-image: linear-gradient(-45deg,
              v.$color-border-gradient-1 47%,
              v.$color-border-gradient-2 97%) 1;
      opacity: 0.9;
    }
  }
}

.cards{
  &__wrapper{
    max-width: 438px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: v.$font-family-second;
    background: linear-gradient(90deg,
            v.$color-glass-effect-1 0%,
            v.$color-border-gradient-5 100%);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 3px solid;
    border-image:linear-gradient(45deg,
            rgba(255, 255, 255, 0.24) 0%,
            rgba(255, 255, 255, 0.28) 100%) 1;
    padding: 33px 21px 19px 27px;

    @include m.respond(tablet){
      max-width: 100%;
    }

    @include m.respond(mobile){
      max-width: 100%;
      border: 1.7px solid;
      border-image:linear-gradient(45deg,
              rgba(255, 255, 255, 0.24) 0%,
              rgba(255, 255, 255, 0.28) 100%) 1;
      padding: 27px 19px 18px 18px;
    }
  }

  &__column:first-of-type{
    flex: 0 1 calc(57.27% - 12px);
  }

  &__column:last-of-type{
    flex: 0 1 calc(42.73% - 12px);
  }

  &__title{
    font-size: v.$font-size-full-xl;
    font-weight: v.$font-weight-bold;
    line-height: 200%;
    margin-bottom: -2px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-xxl;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-l;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-l;
      margin-bottom: 8px;
    }
  }

  &__customer{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;

    @include m.respond(mobile){
      margin-bottom: 12px;
    }
  }

  &__customer-ava{
    max-width: 38px;

    @include m.respond(mobile){
      max-width: 26px;
    }
  }

  &__name{
    font-size: v.$font-size-full-l;
    font-weight: v.$font-weight-semi-bold;
    line-height: 229%;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-l;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-s;
      padding-right: 12px;
    }
  }

  &__check-mark{
    max-width: 16px;

    @include m.respond(mobile){
      max-width: 11px;

    }
  }

  &__text{
    font-size: v.$font-size-mobile-xl;
    font-weight: v.$font-weight-semi-bold;
    line-height: 3.2;
    opacity: 0.7;
    margin-bottom: -16px;

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xs;
      margin-bottom: -4px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xxxs;
      margin-bottom: -4px;
    }

    &:last-of-type{
      padding-left: 4px;
    }
  }

  &__coin{
    display: flex;
    align-items: center;
    gap: 7px;
    fill: v.$color-text;

    svg{
      @include m.respond(tablet){
        width: 18px;
        height: 18px;
      }

      @include m.respond(mobile){
        width: 16px;
        height: 18px;
      }
    }
  }

  &__coin-name{
    font-family: v.$font-family-primary;
    font-size: v.$font-size-mobile-m;
    font-weight: v.$font-weight-semi-bold;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xs;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xxxs;
      gap:4px;
    }
  }

  &__coin-price{
    font-size: v.$font-size-mobile-xl;
    font-weight: v.$font-weight-regular;
    line-height: 320%;
    opacity: 0.7;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xs;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xxxs;
    }
  }

  &__timer-container{
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 23px;
    padding-left: 4px;
    margin-top: -12px;

    @include m.respond(tablet){
      gap: 16px;
      margin-top: -2px;
    }

    @include m.respond(mobile){
      gap: 16px;
      margin-top: -2px;
    }
  }

  &__timer-value{
    font-size: v.$font-size-full-xl;
    font-weight: v.$font-weight-semi-bold;
    line-height: 2;

    @include m.respond(laptop){
      font-size: v.$font-size-full-m;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xxl;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-l;
    }
  }

  &__timer-description{
    font-size: v.$font-size-mobile-xl;
    font-weight: v.$font-weight-medium;
    line-height: 3.2;
    opacity: 0.7;
    margin: -22px 0 26px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-l;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-s;
      margin: -12px 0 18px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xxxs;
      margin: -8px 0 18px;
    }
  }

  &__btn{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: v.$font-size-full-xl;
    font-weight: v.$font-weight-semi-bold;
    padding: 10px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-xxl;
    }

    @include m.respond(tablet){
      max-width: 112px;
      font-size: v.$font-size-mobile-l;
      gap: 4px;
      padding: 7px 9px 10px;
    }

    @include m.respond(mobile){
      width: 100%;
      max-width: 112px;
      font-size: v.$font-size-mobile-l;
      gap: 4px;
      padding: 7px 9px 10px;
    }

    svg{
      width: 31px;
      height: 12px;

      @include m.respond(tablet){
        width: 22px;
        height: 9px;
      }

      @include m.respond(mobile){
        width: 22px;
        height: 9px;
      }
    }
  }
}

.btn-view{
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: v.$font-family-primary;
  font-size: v.$font-size-full-xxl;
  font-weight: v.$font-weight-bold;
  letter-spacing: 0.01em;
  color: v.$color-text;
  fill: v.$color-text;
  border: none;
  background-color: transparent;

  @include m.respond(pc){
    &:hover{
      background: linear-gradient(312deg,
              v.$color-gradient-5 0%,
              v.$color-gradient-4 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      fill: v.$color-gradient-4;
    }
  }

  @include m.respond(laptop){
    &:hover{
      background: linear-gradient(312deg,
              v.$color-gradient-5 0%,
              v.$color-gradient-4 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      fill: v.$color-gradient-4;
    }
  }
}

.btn-explore{
  display: none;
  max-width: 136px;
  text-align: center;
  font-family: v.$font-family-primary;
  font-size: v.$font-size-mobile-m;
  font-weight: v.$font-weight-extra-bold;
  color: v.$color-text;
  fill: v.$color-text;
  border: 1.2px solid;
  border-image: linear-gradient(45deg,
          v.$color-border-gradient-1 47%,
          v.$color-border-gradient-2 97%) 1;
  padding: 9px 0 12px;

  span{
    padding-right: 4px;
  }

  @include m.respond(tablet){
    display: block;
  }

  @include m.respond(mobile){
    display: block;
  }
}