$font-family-primary: "Orbitron", sans-serif;
$font-family-second: "Rajdhani", sans-serif;
$font-family-third: "Inter", sans-serif;
$font-family-fourth: "Roboto", sans-serif;
$font-family-fifth: "Spartan", sans-serif;
$font-family-sixth: "Aldrich", sans-serif;
$font-family-seventh: "Alethia Next", sans-serif;

$font-size-mobile-xxs:9px;
$font-size-mobile-xs:10px;
$font-size-mobile-s:11px;
$font-size-mobile-m:12px;
$font-size-mobile-l:13px;
$font-size-mobile-xl:14px;
$font-size-mobile-xxl:15px;
$font-size-full-xxs:16px;
$font-size-full-xs:17px;
$font-size-full-s:18px;
$font-size-full-m:19px;
$font-size-full-l:20px;
$font-size-full-xl:23px;
$font-size-mobile-title-xs:24px;
$font-size-mobile-title-s:25px;
$font-size-full-xxl:26px;
$font-size-mobile-title-m: 31px;
$font-size-full-xxxl:39px;
$font-size-mobile-title:42px;
$font-size-full-title-s:44px;
$font-size-full-title:66px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-text: #FFFFFF;
$color-text-2: #FFB1EE;
$color-gradient-1: #3bace2;
$color-gradient-2: #406AFF;
$color-gradient-3: #B936EE;
$color-gradient-4: #FF56F6;
$color-gradient-5: #43A5E3;
$color-border-gradient-1: #FFA6FA;
$color-border-gradient-2: #3C79D4;
$color-border-gradient-3: rgba(255, 177, 238, 0.1);
$color-box-shadow: rgba(255, 86, 246, 0.51);
$color-top-sellers-1: #00FF66;
$color-top-sellers-bgc-1: rgba(0, 178, 71, 0.15);
$color-top-sellers-border-1: rgba(0, 178, 71, 0.25);
$color-top-sellers-bgc-2: rgba(235, 20, 20, 0.15);
$color-top-sellers-border-2: rgba(235, 20, 20, 0.25);
$color-top-sellers-2: #FF0000;
$color-footer: #2ec5ce;
$color-form-placeholder: #474a57;
$color-form-background: #f4f5f7;