@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.footer{
  &__wrapper{
    max-width: 1504px;
    font-family: variables.$font-family-third;
    font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
    color: variables.$color-footer-2;
    padding: 0 32px 40px 83px;

    @include mixins.respond(laptop){
      padding: 0 32px 32px;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        max-width: 100%;
        padding: 0 25px 98px;
        margin: 0 auto;
      }
    }
  }

  &__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include mixins.respond(laptop){
      align-items: center;
      gap: 20px;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        flex-direction: column;
      }
    }

    &:first-of-type{
      padding: 101px 0 86px;

      @include mixins.respond(laptop){
        padding: 60px 0;
      }

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
        @include mixins.respond($breakpoint){
          gap: 0;
          padding: 28px 0 0;
        }
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 96%;
        height: 2px;
        background-color: variables.$color-footer-border;

        @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
          @include mixins.respond($breakpoint){
            width: 100%;
            height: 1px;
          }
        }
      }
    }

    &:last-of-type{
      align-items: center;
      font-size: 14px;
      padding-top: 29px;

      @include mixins.respond(laptop){
        padding-top: 12px;
      }

      @each $breakpoint in tablet-large, tablet {
        @include mixins.respond($breakpoint){
          flex-direction: column-reverse;
        }
      }

      @each $breakpoint in mobile, mobile-small {
        @include mixins.respond($breakpoint){
          flex-direction: column-reverse;
          gap: 42px;
          padding-top: 24px;
        }
      }

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 96%;
        height: 2px;
        background-color: variables.$color-footer-border;

        @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
          @include mixins.respond($breakpoint){
            width: 0;
            height: 0;
          }
        }
      }
    }
  }

  &__inner{
    &:first-of-type{
      flex: 0 1 20.3%;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          flex: 1 1 100%;
        }
      }
    }

    &:last-of-type{
      flex: 0 1 73.21%;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          flex: 1 1 100%;
        }
      }
    }
  }

  &__logo{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 19px;
    color: variables.$color-text;
    margin-bottom: 31px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        align-items: flex-end;
        letter-spacing: 0.02em;
        margin-bottom: 33px;
      }
    }

    svg{
      fill: none;
      background: linear-gradient(130deg,
              variables.$color-gradient-4 18.31%,
              variables.$color-gradient-3 43.26%,
              variables.$color-gradient-1 85.44%,
              variables.$color-gradient-2 100%);
      -webkit-mask: url('../../assets/svg/eth.svg');
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      -webkit-mask-size: contain;
      mask: url('../../assets/svg/eth.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }

  &__social-list{
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    fill: variables.$color-text;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        margin-bottom: 33px;
      }
    }
  }

  &__text{
    font-size: 15px;
    line-height: 1.82;
    letter-spacing: 0.015em;
    margin-bottom: 27px;

    @include mixins.respond(laptop){
      letter-spacing: 0;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        letter-spacing: 0.02em;
        margin-bottom: 26px;
      }
    }
  }

  &__big-list{
    display: flex;
    justify-content: space-between;
    gap: 35px;

    @include mixins.respond(laptop){
      gap: 16px;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        width: 100%;
        flex-direction: column;
        gap: 0;
      }
    }
  }

  &__list{
    flex: 1 1 176px;
    font-size: 19px;
    font-weight: variables.$font-weight-medium;
    letter-spacing: 0.02em;
    color: variables.$color-text;

    @include mixins.respond(laptop){
      font-size: 16px;
      letter-spacing: 0;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        flex: 1 1 auto;
        border-bottom: 1px solid variables.$color-footer-border;
      }
    }

    &:last-of-type{
      border-bottom: none;
    }
  }

  &__list-title{

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 0;
      }
    }

    svg{
      display: none;
      fill: variables.$color-footer-arrow;
      transition: rotate 1s ease;
      margin-right: 21px;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          display: inline-block;
        }
      }

      &.active{
        fill: variables.$color-gradient-4;
        transform: rotate(-180deg);
      }
    }
  }

  &__list-section{
    display: flex;
    flex-direction: column;
    gap:13px;
    margin-top: 24px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease;
      }
    }

    &.active{
      max-height: 300px;
    }
  }

  &__list-item{
    a{
      font-size: 15px;
      color: variables.$color-footer-2;
      line-height: 1.8;
      letter-spacing: 0.01em;
    }
  }

  &__list-item_new{
    margin: -6px 0 -6px 0;

    span{
      font-family: variables.$font-family-eighth;
      font-size: 22px;
      color: variables.$color-footer;
      margin-left: 9px;
    }
  }

  &__develop{
    font-size: 15px;
  }

  &__conditions{
    display: flex;
    gap: 8px;
    margin-right: 40px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        justify-content: center;
        gap: 41px;
        margin-right: 20px;
      }
    }

    li{
      border-right: 2px solid variables.$color-footer-2;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          border-right: none;
        }
      }

      &:last-of-type{
        border-right: none;
        padding-right: 4px;

        @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
          @include mixins.respond($breakpoint){
            display: none;
          }
        }
      }
    }

    a{
      font-size: 15px;
      color: variables.$color-footer-2;
      line-height: 1.71;
      letter-spacing: 0.03em;
      padding-right: 9px;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          padding-right: 0;
          letter-spacing: 0;
        }
      }
    }
  }
}