@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.header{

  &__fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    transition: background 300ms ease;

    &.scrolled{
      background: variables.$color-header-bgc;
    }
  }

  &__wrapper{
    max-width: 1458px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 50px 32px 30px;
    margin: 0 auto;

    @include mixins.respond(tablet){
      max-width: 768px;
      padding: 24px 29px 12px 23px;
    }

    @include mixins.respond(mobile){
      max-width: 375px;
      padding: 24px 29px 12px 23px;
    }
  }

  &__container{
    &:first-of-type{
      flex: 1 0 9.5%;

      @include mixins.respond(tablet){
        flex: 1 1 29.86%;
      }
    }

    &:last-of-type{
      flex: 1 1 73.6%;
      max-width: 73.6%;

      @include mixins.respond(tablet){
        flex: 0 0 0;
      }

      @include mixins.respond(mobile){
        flex: 0 0 0;
      }
    }
  }

  &__logo-icon{
    width: 18px;
    height: 28px;

    background: linear-gradient(130deg,
            variables.$color-gradient-4 18.31%,
            variables.$color-gradient-3 43.26%,
            variables.$color-gradient-1 85.44%,
            variables.$color-gradient-2 100%);
    -webkit-mask: url('/OceanNFT/assets/svg/eth.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask: url('/OceanNFT/assets/svg/eth.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &__logo{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: variables.$font-family-primary;
    font-size: variables.$font-size-full-m;
    font-weight: variables.$font-weight-bold;
    padding-left: 10px;

    @include mixins.respond(tablet){
      gap: 3px;
      font-size: variables.$font-size-full-xxs;
    }

    @include mixins.respond(mobile){
      gap: 3px;
      font-size: variables.$font-size-full-xxs;
    }

    span{
      opacity: 0.6;
      margin-right: -5px;
    }
  }

  &__full-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @include mixins.respond(tablet){
      display: none;
    }

    @include mixins.respond(mobile){
      display: none;
    }
  }

  &__inner{

    &:first-of-type{
      flex: 0 1 44.83%;

    }

    &:last-of-type{
      flex: 0 1 9.06%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;

      svg{
        fill: variables.$color-text;
        cursor: pointer;
      }
    }
  }

  &__navigation{

    ul{
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-full-m;
      font-weight: variables.$font-weight-bold;
      letter-spacing: 0.025em;

      &:last-of-type{
        padding-right: 19px;

        @include mixins.respond(tablet){
          padding-right: 0;
        }

        @include mixins.respond(mobile){
          padding-right: 0;
        }
      }
    }

    a{
      opacity: 0.6;

      &:hover{
        opacity: 1;
      }
    }
  }

  &__account{
    padding-right: 12px;
  }

 &__burger{
   display: none;

   @include mixins.respond(tablet){

     display: block;
   }

   @include mixins.respond(mobile){
     display: block;
   }
 }

  &__overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: variables.$color-overlay;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;

    &.active{
      opacity: 1;
      visibility: visible;
    }
  }

  &__burger-icon{
    width: 22px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;


    span{
      display: block;
      height: 3px;
      width: 100%;
      background: variables.$color-text;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
      z-index: 1001;

      &:nth-child(2){
        width: 60%;
      }
    }

    &.active{
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translateY(12px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-12px);
        }
      }
    }
  }


  &__side-menu{
    position: fixed;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100%;
    background: variables.$color-bg-main;

    pointer-events: none;
    transition: left 500ms ease;
    z-index: 999;


    &.active{
      left: 0;
      pointer-events: auto;
    }

  }

  &__navigation_side-menu{

    ul{
      flex-direction: column;
      align-items: center;
      gap: 16px;
      font-size: variables.$font-size-full-s;
      padding-top: 80px;
    }

    li{
      padding-bottom: 6px;
      border-bottom: 3px solid;
      border-image: linear-gradient(-45deg,
              variables.$color-border-gradient-1 47%,
              variables.$color-border-gradient-2 97%) 1;
      margin-bottom: 16px;

    }

    a{
      opacity: 1;

      &:active{
        color: variables.$color-text-2;
      }
    }
  }
}


