@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.hero{
  position: relative;

  &__wrapper{
    max-width: 1458px;
    padding: 195px 32px 0;
    margin: 0 auto;

    @include mixins.respond(laptop){
      max-width: 1380px;
      padding: 146px 32px 0;
    }

    @include mixins.respond(tablet-large){
       padding: 102px 32px 0;
     }

    @include mixins.respond(tablet){
      padding: 102px 32px 0;
    }

    @include mixins.respond(mobile){
      padding: 106px 25px 0;
    }

    @include mixins.respond(mobile-small){
      padding: 106px 25px 0;
    }

    &::before{
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(circle 272px at 60px 580px, variables.$color-fon-circle 0%, transparent 100%),
                  radial-gradient(circle 154px at 700px 500px, variables.$color-fon-circle-2 0%, transparent 100%),
                  radial-gradient(circle 154px at calc(100% - 387px) 406px, variables.$color-fon-circle-2 0%, transparent 100%);
      filter: blur(120px);
      z-index: -1;
    }

    &::after{
      content: '';
      position: absolute;
      top: 520px;
      left: 834px;
      width: 118px;
      height: 23px;
      background: url("/OceanNFT/assets/svg/wave.svg") no-repeat center/contain;

      @each $breakpoint in laptop, tablet-large, tablet, mobile, mobile-small {
        @include mixins.respond($breakpoint){
          width: 0;
          height: 0;
        }
      }
    }
  }

  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        flex-direction: column;
        gap: 0;
      }
    }

    &:last-of-type{
      display: block;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          display: none;
        }
      }
    }
  }

  &__column{
    &:first-of-type{
      flex: 0 1 55.23%;
      max-width: 770px;
      margin-bottom: 122px;

      @include mixins.respond(laptop){
        flex: 1 1 45%;
        max-width: 55%;
      }

      @each $breakpoint in tablet-large, tablet{
        @include mixins.respond($breakpoint){
          flex: 1 1 100%;
          max-width: 100%;
          margin: 0 auto 41px;
        }
      }

      @each $breakpoint in mobile, mobile-small{
        @include mixins.respond($breakpoint){
          flex: 1 1 100%;
          max-width: 100%;
          padding: 0 5px;
          margin-bottom: 41px;
        }
      }
    }

    &:last-of-type{
      position: relative;
      flex: 0 1 35.29%;
      max-width: 35.29%;
      padding-top: 16px;

      @include mixins.respond(laptop){
        flex: 1 1 45%;
        max-width: 402px;
      }

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          max-width: 324px;
          flex: 1 1 100%;
          padding-top: 0;
          margin: 0 auto;
        }
      }
    }
  }

  &__title{
    max-width: 770px;
    margin-bottom: 21px;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        max-width: 100%;
        margin-bottom: 40px;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        max-width: 100%;
        margin-bottom: 27px;
      }
    }
  }

  &__title_color{
    background: linear-gradient(312deg,
            variables.$color-gradient-5 0%,
            variables.$color-gradient-4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text{
    max-width: 658px;
    font-family: variables.$font-family-second;
    font-size: 26px;
    font-weight: variables.$font-weight-regular;
    line-height: 1.67;
    letter-spacing: 0.01em;
    margin-bottom: 43px;

    @include mixins.respond(laptop){
      font-size: 22px;
    }

    @include mixins.respond(tablet-large){
      max-width: 100%;
      font-size: 22px;
      margin-bottom: 32px;
    }

    @include mixins.respond(tablet){
      max-width: 100%;
      font-size: 20px;
      margin-bottom: 32px;
    }

    @include mixins.respond(mobile){
      font-size: 14px;
      line-height: 1.66;
      margin-bottom: 32px;
    }

    @include mixins.respond(mobile-small){
      font-size: 14px;
      margin-bottom: 32px;
    }
  }

  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &:first-of-type{
      max-width: 434px;
      margin-bottom: 67px;

      @each $breakpoint in tablet-large, tablet{
        @include mixins.respond($breakpoint){
          max-width: 342px;
          margin-bottom: 38px;
        }
      }

      @each $breakpoint in mobile, mobile-small{
        @include mixins.respond($breakpoint){
          max-width: 242px;
          margin-bottom: 38px;
        }
      }
    }

    &:last-of-type{
      max-width: 480px;

      @include mixins.respond(laptop){
        max-width: 340px;
      }

      @each $breakpoint in tablet-large, tablet{
        @include mixins.respond($breakpoint){
          max-width: 400px;
        }
      }

      @each $breakpoint in mobile, mobile-small{
        @include mixins.respond($breakpoint){
          max-width: 305px
        }
      }
    }
  }

  &__btn{
    clip-path: polygon(99.934% 3.401%, 99.934% 3.401%, 99.922% 2.85%, 99.889% 2.326%, 99.835% 1.838%,
            99.763% 1.393%, 99.675% 0.996%, 99.571% 0.656%, 99.456% 0.38%, 99.329% 0.173%, 99.193% 0.045%,
            99.049% 0%, 16.971% 0%, 16.971% 0%, 16.932% 0.003%, 16.893% 0.013%, 16.854% 0.03%, 16.816% 0.053%,
            16.777% 0.083%, 16.739% 0.119%, 16.702% 0.162%, 16.665% 0.211%, 16.629% 0.266%, 16.593% 0.328%,
            0.506% 29.649%, 0.506% 29.649%, 0.416% 29.836%, 0.334% 30.058%, 0.26% 30.312%, 0.194% 30.595%,
            0.137% 30.904%, 0.089% 31.235%, 0.051% 31.585%, 0.023% 31.952%, 0.006% 32.332%, 0% 32.723%,
            0% 95.24%, 0% 95.24%, 0.012% 95.791%, 0.045% 96.315%, 0.099% 96.803%, 0.171% 97.248%,
            0.259% 97.645%, 0.362% 97.985%, 0.478% 98.261%, 0.605% 98.468%, 0.741% 98.596%, 0.884% 98.641%,
            85.948% 98.641%, 85.948% 98.641%, 85.989% 98.637%, 86.029% 98.627%, 86.069% 98.609%, 86.108% 98.585%,
            86.148% 98.554%, 86.186% 98.515%, 86.225% 98.471%, 86.263% 98.419%, 86.3% 98.361%, 86.336% 98.296%,
            99.437% 73.682%, 99.437% 73.682%, 99.525% 73.493%, 99.605% 73.27%, 99.678% 73.016%, 99.743% 72.734%,
            99.799% 72.427%, 99.846% 72.099%, 99.884% 71.751%, 99.911% 71.388%, 99.928% 71.012%, 99.934% 70.626%,
            99.934% 3.401%);
    border-radius: 4px;
  }

  &__btn-inner{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: variables.$font-family-primary;
    font-size: 19px;
    font-weight: variables.$font-weight-bold;
    clip-path: polygon(99.934% 3.401%, 99.934% 3.401%, 99.922% 2.85%, 99.889% 2.326%, 99.835% 1.838%,
            99.763% 1.393%, 99.675% 0.996%, 99.571% 0.656%, 99.456% 0.38%, 99.329% 0.173%, 99.193% 0.045%,
            99.049% 0%, 16.971% 0%, 16.971% 0%, 16.932% 0.003%, 16.893% 0.013%, 16.854% 0.03%, 16.816% 0.053%,
            16.777% 0.083%, 16.739% 0.119%, 16.702% 0.162%, 16.665% 0.211%, 16.629% 0.266%, 16.593% 0.328%,
            0.506% 29.649%, 0.506% 29.649%, 0.416% 29.836%, 0.334% 30.058%, 0.26% 30.312%, 0.194% 30.595%,
            0.137% 30.904%, 0.089% 31.235%, 0.051% 31.585%, 0.023% 31.952%, 0.006% 32.332%, 0% 32.723%,
            0% 95.24%, 0% 95.24%, 0.012% 95.791%, 0.045% 96.315%, 0.099% 96.803%, 0.171% 97.248%,
            0.259% 97.645%, 0.362% 97.985%, 0.478% 98.261%, 0.605% 98.468%, 0.741% 98.596%, 0.884% 98.641%,
            85.948% 98.641%, 85.948% 98.641%, 85.989% 98.637%, 86.029% 98.627%, 86.069% 98.609%, 86.108% 98.585%,
            86.148% 98.554%, 86.186% 98.515%, 86.225% 98.471%, 86.263% 98.419%, 86.3% 98.361%, 86.336% 98.296%,
            99.437% 73.682%, 99.437% 73.682%, 99.525% 73.493%, 99.605% 73.27%, 99.678% 73.016%, 99.743% 72.734%,
            99.799% 72.427%, 99.846% 72.099%, 99.884% 71.751%, 99.911% 71.388%, 99.928% 71.012%, 99.934% 70.626%,
            99.934% 3.401%);
    padding: 20px 32px 19px 67px;


    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        font-size: 16px;
        padding: 14px 32px 16px 40px;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        font-size: 12px;
        gap: 8px;
        padding: 8px 17px 11px 28px;
      }
    }

    svg{

      @each $breakpoint in tablet-large, tablet{
        @include mixins.respond($breakpoint){
          width: 38px;
          height: 12px;
        }
      }

      @each $breakpoint in mobile, mobile-small{
        @include mixins.respond($breakpoint){
          width: 28px;
          height: 8px;
        }
      }
    }
  }

  &__create{
    font-family: variables.$font-family-primary;
    font-size: 19px;
    font-weight: variables.$font-weight-bold;
    background: linear-gradient(312deg,
            variables.$color-gradient-4 0%,
            variables.$color-gradient-5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        font-size: 16px;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        font-size: 12px;
      }
    }
  }

  &__date{
    border-right: 1px solid variables.$color-footer-border;
    padding-right: 21px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        padding-right: 0;
        border-right: none;
      }
    }

    &:first-of-type{
      padding-right: 14px;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          padding-right: 0;
        }
      }
    }

    &:last-of-type{
      padding-right: 0;
      border-right: none;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          padding-right: 8px
        }
      }
    }
  }

  &__info{
    font-family: variables.$font-family-sixth;
    font-size: 39px;
    font-weight: variables.$font-weight-regular;
    line-height: 1.3;
    letter-spacing: 0.01em;
    margin-bottom: 16px;

    @each $breakpoint in laptop, tablet-large, tablet{
      @include mixins.respond($breakpoint){
        font-size: 30px;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        font-size: 18px;
        line-height: 1.57;
      }
    }
  }

  &__info-description{
    font-family: variables.$font-family-seventh;
    font-size: 17px;
    font-weight: variables.$font-weight-regular;
    line-height: 1.25;
    letter-spacing: 0.01em;
    margin-top: -17px;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        font-size: 14px;
        opacity: 0.6;
        margin-top: -14px;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        font-size: 12px;
        line-height: 1;
        opacity: 0.6;
        margin-top: -12px;
      }
    }
  }

  &__icons-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;

    @include mixins.respond(laptop){
      align-items: center;
      margin: 40px auto 0;
    }
  }

  &__coin-icon{
    fill: variables.$color-text;
    opacity: 0.5;

    @include mixins.respond(laptop){
      max-width: 180px;
    }
  }

  &__card-fon{
   max-width: 100%;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
               0 4px 4px 0 rgba(0, 0, 0, 0.25),
               0 4px 4px 0 rgba(0, 0, 0, 0.25);
   -webkit-mask-image: url('/OceanNFT/assets/img/hero/cards-mask.webp');
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
   -webkit-mask-size: cover;
   mask-image: url('/OceanNFT/assets/img/hero/cards-mask.webp');
   mask-repeat: no-repeat;
   mask-position: center;
   mask-size: cover;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        max-width: 360px;
      }
    }
  }

  &__card-fon_full{
    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: none;
      }
    }
  }

  &__card-fon_mobile{
    display: none;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: block;
      }
    }

    @include mixins.respond(mobile-small){
      max-width: 268px;
    }
  }

  &__cards{
    position: absolute;
    top: 374px;
    left: 154px;

    @include mixins.respond(laptop){
      left: 3vw;
    }

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        top: 336px;
        left: 0;
      }
    }

    @include mixins.respond(mobile){
      top: 336px;
      left: 0;
    }

    @include mixins.respond(mobile-small){
      top: 276px;
      left: 1vw;
    }

    .cards__border{
      background: variables.$color-footer-border;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      clip-path: polygon(99.721% 74.86%, 99.721% 94.754%, 99.721% 94.754%, 99.687% 95.542%, 99.587% 96.29%,
              99.428% 96.987%, 99.215% 97.623%, 98.952% 98.19%, 98.647% 98.675%, 98.303% 99.07%, 97.926% 99.365%,
              97.522% 99.549%, 97.097% 99.613%, 2.624% 99.613%, 2.624% 99.613%, 2.199% 99.549%, 1.795% 99.365%,
              1.418% 99.07%, 1.074% 98.675%, 0.769% 98.19%, 0.506% 97.623%, 0.293% 96.987%, 0.134% 96.29%, 0.034% 95.542%,
              0% 94.754%, 0% 27.075%, 0% 27.075%, 0.008% 26.689%, 0.033% 26.308%, 0.074% 25.933%, 0.13% 25.566%,
              0.201% 25.209%, 0.288% 24.864%, 0.388% 24.531%, 0.503% 24.214%, 0.632% 23.912%, 0.774% 23.629%,
              12.846% 1.413%, 12.846% 1.413%, 12.998% 1.153%, 13.16% 0.918%, 13.331% 0.709%, 13.51% 0.525%,
              13.695% 0.367%, 13.886% 0.237%, 14.083% 0.134%, 14.284% 0.06%, 14.489% 0.015%, 14.696% 0%, 97.097% 0%,
              97.097% 0%, 97.522% 0.064%, 97.926% 0.248%, 98.303% 0.542%, 98.647% 0.938%, 98.952% 1.423%, 99.215% 1.989%,
              99.428% 2.626%, 99.587% 3.323%, 99.687% 4.071%, 99.721% 4.859%, 99.721% 74.86%);
      padding: 2px;
    }
    
    .cards__wrapper{
      width: 334px;
      height: 179px;
      background: variables.$color-glass-effect-2;
      clip-path: polygon(99.721% 74.86%, 99.721% 94.754%, 99.721% 94.754%, 99.687% 95.542%, 99.587% 96.29%,
              99.428% 96.987%, 99.215% 97.623%, 98.952% 98.19%, 98.647% 98.675%, 98.303% 99.07%, 97.926% 99.365%,
              97.522% 99.549%, 97.097% 99.613%, 2.624% 99.613%, 2.624% 99.613%, 2.199% 99.549%, 1.795% 99.365%,
              1.418% 99.07%, 1.074% 98.675%, 0.769% 98.19%, 0.506% 97.623%, 0.293% 96.987%, 0.134% 96.29%, 0.034% 95.542%,
              0% 94.754%, 0% 27.075%, 0% 27.075%, 0.008% 26.689%, 0.033% 26.308%, 0.074% 25.933%, 0.13% 25.566%,
              0.201% 25.209%, 0.288% 24.864%, 0.388% 24.531%, 0.503% 24.214%, 0.632% 23.912%, 0.774% 23.629%,
              12.846% 1.413%, 12.846% 1.413%, 12.998% 1.153%, 13.16% 0.918%, 13.331% 0.709%, 13.51% 0.525%,
              13.695% 0.367%, 13.886% 0.237%, 14.083% 0.134%, 14.284% 0.06%, 14.489% 0.015%, 14.696% 0%, 97.097% 0%,
              97.097% 0%, 97.522% 0.064%, 97.926% 0.248%, 98.303% 0.542%, 98.647% 0.938%, 98.952% 1.423%, 99.215% 1.989%,
              99.428% 2.626%, 99.587% 3.323%, 99.687% 4.071%, 99.721% 4.859%, 99.721% 74.86%);
      padding: 28px 0 0 22px;

      @include mixins.respond(laptop){
        max-width: 332px;
        padding: 25px 15px 11px 17px;
      }

      @include mixins.respond(tablet-large){
        height: 174px;
        padding: 25px 15px 11px 17px;

      }

      @include mixins.respond(tablet){
        height: 174px;
        padding: 25px 15px 11px 17px;

      }

      @include mixins.respond(mobile){
        width: 324px;
        height: 174px;
        padding: 25px 10px 11px 17px;
      }

      @include mixins.respond(mobile-small){
        width: 268px;
        height: 174px;
        padding: 25px 10px 11px 17px;
      }
    }

    .cards__column{
      &:first-of-type{
        flex: 0 1 49.66%;
      }

      &:last-of-type{
        flex: 0 1 44.94%;

        @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
          @include mixins.respond($breakpoint){
            flex: 1 1 41.94%;
          }
        }
      }
    }

    .cards__title{
      font-size: 17px;
      line-height: 2;
      margin-bottom: 0;
      letter-spacing: 0.02em;

      @include mixins.respond(mobile-small){
        font-size: 14px;
      }
    }

    .cards__customer{
      gap: 3px;
      margin-bottom: 8px;

      @include mixins.respond(tablet){
        margin-bottom: 2px;
      }

      @include mixins.respond(mobile){
        margin-bottom: 6px;
      }
    }

    .cards__customer-ava{
      max-width: 29px;
    }

    .cards__name{
      font-size: 15px;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          padding-right: 0;
        }
      }

      @include mixins.respond(mobile-small){
        font-size: 11px;
      }
    }

    .cards__text{
      font-size: 11px;
      line-height: 3.2;
      letter-spacing: 0;
      margin-bottom: 4px;
    }

    .cards__text_right{
      padding-left: 12px;

      @include mixins.respond(mobile){
        padding-left: 20px;
      }
    }

    .cards__coin{
      gap: 5px;
      margin-top: -18px;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          margin-top: -15px;
        }
      }

      svg{
        width: 10px;
        height: 18px;
      }
    }

    .cards__coin-name{
      font-size: 9px;
    }

    .cards__coin-price{
      font-size: 11px;
    }

    .cards__timer-container{
      max-width: 104px;
      gap: 19px;
      margin-top: -16px;
      padding-left: 12px;

      @include mixins.respond(mobile){
        padding-left: 20px;
        margin-bottom: 2px;
      }

      @include mixins.respond(mobile-small){
        padding-left: 0;
      }
    }

    .cards__timer-value{
      font-size: 16px;
    }

    .cards__timer-description{
      font-size: 11px;
      line-height: 1.6;
      margin: -6px 0 25px;

      @include mixins.respond(mobile){
        margin-bottom: 22px;
      }
    }

    .cards__btn{
      width: 90%;
      background: linear-gradient(-45deg,
              variables.$color-border-gradient-1 47%,
              variables.$color-border-gradient-2 97%);
      border-radius: 5px;

      @each $breakpoint in tablet-large, tablet, mobile-small{
        @include mixins.respond($breakpoint){
          width: 100%;
        }
      }

      @include mixins.respond(mobile){
        margin: 0 auto;
        width: 86%
      }
    }

    .cards__btn-inner{
      width: 100%;
      font-size: 17px;
      gap: 4px;
      border-radius: 5px;
      padding: 10px 10px 7px 12px;

      @include mixins.respond(laptop){
        padding: 10px 5px 7px 12px;
      }

      @include mixins.respond(tablet-large){
        padding: 10px 5px 7px 12px;
      }

      @include mixins.respond(tablet){
        padding: 7px 10px 7px 12px;
      }

      @include mixins.respond(mobile){
        padding: 9px 10px 7px 12px;
      }

      @include mixins.respond(mobile-small){
        font-size: 14px;
        padding: 7px 10px 7px 12px;
      }
    }
  }

  &__icons_mobile{
    display: none;
    margin-bottom: 58px;

    @each $breakpoint in tablet-large, tablet{
      @include mixins.respond($breakpoint){
        display: block;
      }
    }

    @each $breakpoint in mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: block;
        padding: 0 5px;
      }
    }

    .hero__icons-wrapper{
      align-items: center;
      gap: 16px;

      @include mixins.respond(tablet-large){
       width: 90vw;
       gap: 42px;
      }

      @include mixins.respond(tablet){
        width: 90vw;
        gap: 12px;
      }

      @include mixins.respond(mobile){
        gap:32px;
      }

      @include mixins.respond(mobile-small){
        gap:8px;
      }
    }

    svg{
      @include mixins.respond(mobile-small){
        max-width: calc((100%/2) - 6px);
      }
    }
  }

  &__coin-icon_blockchain{
    @include mixins.respond(mobile){
      margin: 0 -10px;
    }
  }
}


