@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.collections{
  position: relative;

  &::before{
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle 246px at 477px 300px, variables.$color-fon-circle 0%, transparent 100%),
    radial-gradient(circle 154px at calc(100% - 604px) 1440px, variables.$color-fon-circle-2 0%, transparent 100%);
    filter: blur(120px);
    z-index: -1;
  }

  &__wrapper{
    max-width: 1448px;
    overflow: hidden;
    padding: 164px 32px 0;
    margin: 0 auto;

    @include mixins.respond(laptop){
      padding: 100px 30px 0;
    }

    @include mixins.respond(tablet){
      padding: 108px 25px 0;
    }

    @include mixins.respond(mobile){
      padding: 108px 25px 0;
    }
  }

  &__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 248px;
    gap: 40px;

    @include mixins.respond(laptop){
      margin-bottom: 160px;
    }

    @include mixins.respond(tablet){
      flex-direction: column;
      gap: 0;
      margin-bottom: 43px;
    }

    @include mixins.respond(mobile){
      flex-direction: column;
      gap: 0;
      margin-bottom: 43px;
    }

    &:first-of-type{
      max-width: 1346px;
      letter-spacing: 0.01em;

      @include mixins.respond(laptop){
        max-width: 1100px;
        margin: 0 auto 160px;
      }

      @include mixins.respond(tablet){
        margin-bottom: 420px;
      }

      @include mixins.respond(mobile){
        margin-bottom: 462px;
      }
    }

    &:last-of-type{
      display: block;
      margin-bottom: 0;
    }
  }

  &__column{

    &:first-of-type{
      flex: 0 1 58.17%;
      max-width: 58.17%;
      margin-top: 51px;

      @include mixins.respond(laptop){
        margin-top: 0;
      }

      @include mixins.respond(tablet){
        flex: 1 1 100%;
        max-width: 580px;
        margin: 0 auto;
      }

      @include mixins.respond(mobile){
        flex: 1 1 100%;
        max-width: 324px;
        margin-top: 0;
      }
    }

    &:last-of-type{
      position: relative;
      flex: 1 1 32.32%;
      max-width: 32.32%;

      @include mixins.respond(tablet){
        flex: 1 1 100%;
        max-width: 186px;
      }

      @include mixins.respond(mobile){
        flex: 1 1 100%;
        max-width: 186px;
      }
    }

    img{
      max-width: 100%;
      max-height: 814px;
    }
  }

  &__buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 43px;
    margin-top: 47px;

    @include mixins.respond(laptop){
      gap: 30px;
      margin-top: 34px;
    }

    @include mixins.respond(tablet){
      gap: 18px;
      margin-top: 26px;
    }

    @include mixins.respond(mobile){
      gap: 18px;
      margin-top: 26px;
    }

    button{
      flex: 0 1 calc((100%/2) - 22px);
      max-width: calc((100%/2) - 21px);
      font-family: variables.$font-family-primary;
      font-size: variables.$font-size-full-xxl;
      font-weight: variables.$font-weight-bold;
      color: variables.$color-text;
      opacity: 0.5;
      background-color: transparent;
      border: 3px solid;
      border-image: linear-gradient(-45deg,
              variables.$color-border-gradient-1 47%,
              variables.$color-border-gradient-2 97%) 1;
      padding: 31px 0 33px;

      @include mixins.respond(laptop){
        flex: 0 1 calc((100%/2) - 15px);
        max-width: calc((100%/2) - 15px);
        font-size: variables.$font-size-full-xl;
        padding: 20px 0;
      }

      @include mixins.respond(tablet){
        flex: 0 1 calc((100%/2) - 9px);
        max-width: calc((100%/2) - 9px);
        font-size: variables.$font-size-mobile-xs;
        border: 1.2px solid;
        border-image: linear-gradient(-45deg,
                variables.$color-border-gradient-1 47%,
                variables.$color-border-gradient-2 97%) 1;
        padding: 14px 0 13px;
      }

      @include mixins.respond(mobile){
        flex: 0 1 calc((100%/2) - 9px);
        max-width: calc((100%/2) - 9px);
        font-size: variables.$font-size-mobile-xs;
        border: 1.2px solid;
        border-image: linear-gradient(-45deg,
                variables.$color-border-gradient-1 47%,
                variables.$color-border-gradient-2 97%) 1;
        padding: 14px 0 13px;
      }

      &:hover{
        backdrop-filter: blur(212px);
        box-shadow: 0 4px 107px 0 variables.$color-box-shadow;

        @include mixins.respond(tablet){
          backdrop-filter: none;
          box-shadow: none;
        }

        @include mixins.respond(mobile){
          backdrop-filter: none;
          box-shadow: none;
        }
      }

      &.active{
        opacity: 1;
        background: linear-gradient(130deg,
                variables.$color-gradient-4 18.31%,
                variables.$color-gradient-3 43.26%,
                variables.$color-gradient-1 85.44%,
                variables.$color-gradient-2 100%);
      }
    }
  }

  &__btn-view{
    font-size: variables.$font-size-full-m;
    text-align: right;
    margin: 40px 0 0 auto;

    @include mixins.respond(laptop){
      font-size: variables.$font-size-full-xxs;
    }

    @include mixins.respond(tablet){
      gap: 6px;
      font-size: variables.$font-size-mobile-xxxs;
      margin: 18px 0 0 auto;
    }

    @include mixins.respond(mobile){
      gap: 6px;
      font-size: variables.$font-size-mobile-xxxs;
      margin: 18px 0 0 auto;
    }

    svg{

      @include mixins.respond(tablet){
        width: 22px;
        height: 7px;
      }

      @include mixins.respond(mobile){
        width: 22px;
        height: 7px;
      }
    }
  }

  &__skin{
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform:  translateX(10%)
                scale(0.95);
    transition: opacity 0.6s ease,
                transform 0.6s ease,
                visibility 0s linear 0.6s;
    pointer-events: none;

    @include mixins.respond(tablet){
      top: 0;
      left: 50%;
      transform: translateX(10%) scale(0.95);
    }

    @include mixins.respond(mobile){
      top: 0;
      left: 50%;
      transform: translateX(10%) scale(0.95);
    }

    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateX(0)
                 scale(1);
      transition: opacity 0.6s ease,
                  transform 0.6s ease,
                  visibility 0s;
      pointer-events: auto;

      @include mixins.respond(tablet){
        transform: translateX(12%) scale(1);
      }

      @include mixins.respond(mobile){
        transform: translateX(-12%) scale(1);
      }
    }
  }

  &__inner_accounts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @include mixins.respond(tablet){
      margin-bottom: 32px;
    }

    @include mixins.respond(mobile){
      margin-bottom: 32px;
    }

    button{
      @include mixins.respond(tablet){
        display: none;
      }

      @include mixins.respond(mobile){
        display: none;
      }
    }
  }

  &__title_accounts{
    @include mixins.respond(mobile){
      font-size: variables.$font-size-full-s;
    }
  }

  &__swiper-accounts{
    max-width: 100vw;
  }

  &__accounts{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: variables.$font-family-second;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0) 100%),
            url("../../assets/img/section2-explore-collections/bg_photo.webp") top center / contain no-repeat;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border: 3px solid;
    border-image:linear-gradient(45deg,
            rgba(255, 255, 255, 0.24) 0%,
            rgba(255, 255, 255, 0.28) 100%) 1;
    padding: 101px 39px 40px;

    @include mixins.respond(laptop){
      width: 438px !important;
    }

    @include mixins.respond(tablet){
      max-width: 306px;
      padding: 70px 27px 29px;
    }

    @include mixins.respond(mobile){
      width: 303px !important;
      padding: 70px 27px 25px;
    }
  }

  &__avatar{
    max-width: 163px;
    margin-bottom: 2px;

    @include mixins.respond(tablet){
      max-width: 113px;
    }

    @include mixins.respond(mobile){
      max-width: 113px;
      margin-bottom: 5px;
    }
  }

  &__name{
    font-size: variables.$font-size-mobile-title-xs;
    font-weight: variables.$font-weight-medium;
    line-height: 1.89;

    @include mixins.respond(tablet){
      font-size: variables.$font-size-full-xxs;
    }

    @include mixins.respond(mobile){
      font-size: variables.$font-size-full-xxs;
    }
  }

  &__nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: variables.$font-size-full-l;
    line-height: 2.29;
    color: variables.$color-text-2;
    padding-left: 14px;
    margin-top: -14px;

    @include mixins.respond(tablet){
      font-size: variables.$font-size-mobile-l;
      margin-top: -8px;
    }

    @include mixins.respond(mobile){
      font-size: variables.$font-size-mobile-l;
      margin-top: -8px;
    }

    img{
      max-width: 16px;

      @include mixins.respond(mobile){
        max-width: 11px;
      }
    }
  }

  &__statistic{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    text-align: center;
    width: 100%;
  }

  &__info-number{
    font-size: variables.$font-size-mobile-title-m;
    font-weight: variables.$font-weight-semi-bold;
    line-height: 2;
    margin-top: 6px;

    @include mixins.respond(tablet){
      font-size: variables.$font-size-full-l;
    }

    @include mixins.respond(mobile){
      font-size: variables.$font-size-full-l;
    }
  }

  &__info-description{
    font-size: variables.$font-size-full-m;
    font-weight: variables.$font-weight-medium;
    line-height: 3.2;
    opacity: 0.7;
    margin: -26px 0 21px;

    @include mixins.respond(tablet){
      font-size: variables.$font-size-mobile-l;
      margin: -18px 0 15px;
    }

    @include mixins.respond(mobile){
      font-size: variables.$font-size-mobile-l;
      margin: -18px 0 15px;
    }
  }

  &__btn-follow{
    width: 68%;
  }

  &__btn-follow-inner{
    width: 100%;
    font-family: variables.$font-family-second;
    font-size: variables.$font-size-full-m;
    font-weight: variables.$font-weight-medium;
    padding: 11px 0;

    @include mixins.respond(tablet){
      font-size: variables.$font-size-mobile-l;
    }

    @include mixins.respond(mobile){
      font-size: variables.$font-size-mobile-l;
      padding: 10px 0;
    }
  }

  &__btn-explore{
    margin: 39px auto 0;
  }

  &__btn-explore-inner{
    padding: 10px 0 0 10px;
  }
}