@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.what-NFT{
  position: relative;
  background-image: url("/OceanNFT/assets/img/section4-what-nft/section4-bg1.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 556px;

  @include mixins.respond(laptop){
    background-size: 100% 420px;
  }

  @include mixins.respond(tablet-large){
    background-size: 100% 400px;
  }

  @include mixins.respond(tablet){
    background-size: contain;
    background-image: url("/OceanNFT/assets/img/section4-what-nft/section4-bg1-small.webp");
  }

  @include mixins.respond(mobile){
    background-size: 100% 300px;
    background-image: url("/OceanNFT/assets/img/section4-what-nft/section4-bg1-small.webp");
  }

  @include mixins.respond(mobile-small){
    background-size: 100% 300px;
    background-image: url("/OceanNFT/assets/img/section4-what-nft/section4-bg1-small.webp");
  }

  &__wrapper{
    max-width: 1448px;
    font-family: variables.$font-family-third;
    font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
    font-kerning: normal;
    padding: 214px 6px 163px;
    margin: 0 auto;

    @include mixins.respond(laptop){
      padding-top: 180px;
    }

    @include mixins.respond(tablet-large){
      max-width: 1024px;
      padding: 160px 6px 90px;
    }

    @include mixins.respond(tablet){
      max-width: 768px;
      padding: 121px 21px;
    }

    @include mixins.respond(mobile){
      max-width: 375px;
      padding: 121px 21px 108px;
    }

    @include mixins.respond(mobile-small){
      max-width: 320px;
      padding: 121px 10px 108px;
    }
  }

  &__info-about{
    position: absolute;
    right: 134px;
    width: 583px;
    background: variables.$color-glass-effect-1;
    border: 3px solid;
    border-image:linear-gradient(45deg,
            rgba(255, 255, 255, 0.24) 0%,
            rgba(255, 255, 255, 0.28) 100%) 1;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 56px 49px 46px 72px;

    @include mixins.respond(laptop){
    max-width: 480px;
      padding: 43px 40px 36px 52px;
    }

    @include mixins.respond(tablet-large){
      max-width: 433px;
      border: 2px solid;
      border-image:linear-gradient(45deg,
              rgba(255, 255, 255, 0.24) 0%,
              rgba(255, 255, 255, 0.28) 100%) 1;
      padding: 33px 30px 26px 42px;
    }

    @include mixins.respond(tablet){
      max-width: 333px;
      border: 2px solid;
      border-image:linear-gradient(45deg,
              rgba(255, 255, 255, 0.24) 0%,
              rgba(255, 255, 255, 0.28) 100%) 1;
      padding: 33px 26px 26px 37px;
    }

    @include mixins.respond(mobile){
      right: auto;
      max-width: 333px;
      border: 2px solid;
      border-image:linear-gradient(45deg,
              rgba(255, 255, 255, 0.24) 0%,
              rgba(255, 255, 255, 0.28) 100%) 1;
      padding: 33px 26px 26px 37px;
    }

    @include mixins.respond(mobile-small){
      right: auto;
      max-width: 280px;
      border: 2px solid;
      border-image:linear-gradient(45deg,
              rgba(255, 255, 255, 0.24) 0%,
              rgba(255, 255, 255, 0.28) 100%) 1;
      padding: 20px 14px;
    }
  }

  &__title{
    font-size: 44px;
    font-weight: variables.$font-weight-extra-bold;
    line-height: 1.35;
    margin-bottom: 21px;

    @include mixins.respond(laptop){
      font-size: 35px;
      margin-bottom: 16px;
    }

    @include mixins.respond(tablet-large){
      font-size: 32px;
      letter-spacing: 0.013em;
      margin-bottom: 10px;
    }

    @each $breakpoint in tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 25px;
        letter-spacing: 0.013em;
        margin-bottom: 10px;
      }
    }
  }

  &__text{
    font-size: 20px;
    font-weight: variables.$font-weight-regular;
    line-height: 1.78;
    margin-bottom: 44px;

    @include mixins.respond(laptop){
      font-size: 18px;
      margin-bottom: 32px;
    }

    @include mixins.respond(tablet-large){
      font-size: 16px;
      letter-spacing: 0.028em;
      line-height: 1.88;
      margin-bottom: 26px;
    }

    @each $breakpoint in tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 11px;
        letter-spacing: 0.028em;
        line-height: 1.88;
        margin-bottom: 26px;
      }
    }
  }

  &__more{
    max-width: 276px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 17px;
    font-weight: variables.$font-weight-medium;
    line-height: 1.5;

    @include mixins.respond(laptop){
      font-size: 15px;
    }

    @include mixins.respond(tablet-large){
      max-width: 220px;
      font-size: 12px;
    }

    @each $breakpoint in tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        max-width: 160px;
        font-size: 10px;
      }
    }

    button{
      display: flex;
      align-items: center;
      gap: 14px;
      font-family: variables.$font-family-third;
      font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
      font-size: 17px;
      font-weight: variables.$font-weight-medium;
      color: variables.$color-text;
      background-color: transparent;
      line-height: 1.5;
      border: none;

      @include mixins.respond(laptop){
        font-size: 15px;
      }

      @include mixins.respond(tablet-large){
        gap: 5px;
        font-size: 12px;
      }

      @each $breakpoint in tablet, mobile, mobile-small {
        @include mixins.respond($breakpoint){
          gap: 5px;
          font-size: 10px;
        }
      }

      svg{
        fill: variables.$color-text;

        @each $breakpoint in tablet, mobile, mobile-small{
          @include mixins.respond($breakpoint){
            width: 8px;
            height: 11px;
          }
        }
      }
    }
  }

  &__container{
    max-width: 1266px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 634px 0 0 30px;

    @include mixins.respond(laptop){
      margin-top: 540px;
    }

    @include mixins.respond(tablet-large){
      max-width: 800px;
      gap: 0;
      flex-direction: column-reverse;
      padding: 0 30px;
      margin: 480px auto 0;
    }

    @include mixins.respond(tablet){
      gap: 0;
      flex-direction: column-reverse;
      margin: 350px auto 0;
    }

    @include mixins.respond(mobile){
      gap: 0;
      flex-direction: column-reverse;
      margin: 352px 0 0 6px;
    }

    @include mixins.respond(mobile-small){
      gap: 0;
      flex-direction: column-reverse;
      margin: 350px 0 0 6px;
    }
  }

  &__background{
    flex: 1 1 55.21%;
    max-width: 55.21%;
    border-radius: 4px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    @include mixins.respond(tablet-large){
      max-height: 260px;
      margin-top: 76px;
    }
  }

  &__background_full{

    @each $breakpoint in tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: none;
      }
    }
  }

  &__background_small{
    display: none;

    @each $breakpoint in tablet, mobile{
      @include mixins.respond($breakpoint){
        display: block;
        max-width: 326px;
        margin: 108px auto 0;
      }
    }

    @include mixins.respond(mobile-small){
      display: block;
      max-width: 280px;
      margin: 68px auto 0;
    }
  }

  &__inner{
    flex: 1 1 38.78%;
    max-width: 38.78%;
    margin-top: 36px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  &__subscribe{
    @include mixins.respond(tablet){
      padding: 0 25px;
    }

    h4{
      font-family: variables.$font-family-primary;
      font-size: 39px;
      font-weight: variables.$font-weight-bold;
      margin-bottom: 36px;

      @include mixins.respond(laptop){
        font-size: 31px;
        margin-bottom: 24px;
      }

      @include mixins.respond(tablet-large){
        font-size: 31px;
        margin-bottom: 18px;
      }

      @each $breakpoint in tablet, mobile, mobile-small {
        @include mixins.respond($breakpoint){
          font-size: 26px;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__text_subscribe{
    font-size: 19px;
    letter-spacing: 0.025em;
    margin-bottom: 50px;

    @each $breakpoint in tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 14px;
        margin-bottom: 46px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 32px;
      }
    }
  }

  &__form{
    max-width: 89%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
    margin-left: -10px;

    @include mixins.respond(tablet-large){
      max-width: 66%;
      justify-content: center;
      gap: 16px;
      margin: 0 auto;
    }

    @include mixins.respond(tablet){
      max-width: 66%;
      justify-content: center;
      gap: 16px;
      margin: 0 auto;
    }

    @include mixins.respond(mobile){
      gap: 6px;
      margin-left: -8px;
    }

    @include mixins.respond(mobile-small){
      gap: 6px;
      margin-left: -8px;
    }
  }

  &__email{
    flex: 1 1 274px;
    max-width: 274px;
    background-color: variables.$color-form-background;
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 17px 0 18px 16px;

    @include mixins.respond(laptop){
      padding: 17px 0 18px 8px;
    }

    @include mixins.respond(tablet-large){
      border-radius: 4px 0 0 4px;
      padding: 6px 0 10px 11px;
    }

    @include mixins.respond(tablet){
      border-radius: 4px 0 0 4px;
      padding: 6px 0 10px 11px;
    }

    @include mixins.respond(mobile){
      flex: 0 1 181px;
      max-width: 181px;
      border-radius: 4px 0 0 4px;
      padding: 6px 0 10px 11px;
    }

    @include mixins.respond(mobile-small){
      flex: 0 1 181px;
      max-width: 181px;
      border-radius: 4px 0 0 4px;
      padding: 6px 0 10px 11px;
    }

    &::placeholder{
      font-family: variables.$font-family-third;
      font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
      font-size: 15px;
      line-height: 1.71;
      letter-spacing: 0.02em;
      color: variables.$color-form-placeholder;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
        @include mixins.respond($breakpoint){
          font-size: 10px;
        }
      }
    }
  }

  &__form-btn{
    flex: 0 1 144px;
    max-width: 144px;
    border-radius: 0 6px 6px 0;
    background: linear-gradient(-45deg,
            variables.$color-border-gradient-1 47%,
            variables.$color-border-gradient-2 97%);

    @include mixins.respond(mobile){
      flex: 0 1 97px;
    }

    @include mixins.respond(mobile-small){
      flex: 0 1 97px;
    }
  }

  &__form-btn-inner{
    width: 100%;
    text-align: center;
    font-family: variables.$font-family-third;
    font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
    font-size: 15px;
    font-weight: variables.$font-weight-medium;
    line-height: 1.43;
    padding: 12px 0 16px;
    border-radius: 0 6px 6px 0;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 10px;
        padding: 7px 22px 10px;
      }
    }
  }
}
