@use "../variables/variables" as v;
@use "../variables/mixins" as m;

.top-nft{
  &__wrapper{
    max-width: 1448px;
    margin: 0 auto;
    padding: 222px 32px 0;

    @include m.respond(tablet){
      padding: 108px 30px 0;
    }

    @include m.respond(mobile){
      padding: 112px 25px 0;
    }
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;

    @include m.respond(tablet){
      margin-bottom: 32px;
    }

    @include m.respond(mobile){
      margin-bottom: 36px;
    }
  }

  &__text{

    @include m.respond(tablet){
      font-size: v.$font-size-full-xxs;
    }
    @include m.respond(mobile){
      font-size: v.$font-size-full-xxs;
    }
  }

  &__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m.respond(tablet){
      display: none;
    }

    @include m.respond(mobile){
      display: none;
    }
  }


  &__swiper{
    max-width: 1384px;

    @include m.respond(laptop){
      max-width: 1000px;
    }

    @include m.respond(tablet){
      max-width: 400px;
    }

    @include m.respond(mobile){
      max-width: 306px;
    }
  }

  &__swiper-slide{
    max-width: 100%;
  }

  &__img{
    max-width: 100%;
  }

  &__btn-explore{
    display: none;
    margin: 38px auto 0;

    @include m.respond(tablet){
      display: block;
    }

    @include m.respond(mobile){
      display: block;
    }


  }


}