@use "../variables/variables" as variables;
@use "../variables/mixins" as mixins;

.top-sellers{
  &__wrapper{
    max-width: 1448px;
    text-align: center;
    padding: 161px 32px 156px;
    margin: 0 auto;

    @include mixins.respond(laptop){
      max-width: 1380px;
      padding: 100px 30px;
    }

    @include mixins.respond(tablet-large){

      padding: 108px 30px;
    }

    @include mixins.respond(tablet){
      padding: 108px 30px;
    }

    @include mixins.respond(mobile){
      padding: 111px 25px 107px;
    }

    @include mixins.respond(mobile-small){
      padding: 111px 25px;
    }
  }

  &__title{
    letter-spacing: 0.02em;
    padding-left: 24px;
    margin-bottom: 29px;

    @each $breakpoint in laptop, tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 17px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 19px;
        letter-spacing: 0;
        cursor: pointer;
        padding-left: 6px;
        margin-bottom: 18px;
      }
    }

    span{
      color: variables.$color-gradient-4;
    }

    svg{
      fill: variables.$color-gradient-4;
      transition: transform 0.6s ease;

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          width: 10px;
          height: 6px;
        }
      }

      &.active{

        @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
          @include mixins.respond($breakpoint){
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__text{
    max-width: 512px;
    font-family: variables.$font-family-fourth;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding-left: 12px;
    margin: 0 auto 57px;

    @each $breakpoint in laptop, tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 15px;
        padding-left: 0;
        margin-bottom: 27px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 14px;
        padding-left: 0;
        letter-spacing: 0;
        margin-bottom: 29px;
      }
    }
  }

  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 64px;

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        max-height: 434px;
        overflow: hidden;
        transition: max-height 2s ease;
        gap: 24px;
        margin-bottom: 31px;
      }
    }

    &.active{
      max-height: 1800px;
    }
  }

  &__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    flex: 0 1 calc((100%/3) - (68px/3));
    max-width: calc((100%/3) - (68px/3));
    border-radius: 29px;
    border: 3px solid variables.$color-border-gradient-3;
    backdrop-filter: blur(76px);
    -webkit-backdrop-filter: blur(76px);
    font-family: variables.$font-family-fourth;
    font-weight: variables.$font-weight-medium;
    padding: 23px 17px 17px 22px;

    @include mixins.respond(laptop){
      padding: 17px;
    }

    @include mixins.respond(tablet-large){
      flex: 0 1 calc((100%/2) - (34px/2));
      max-width: calc((100%/2) - (34px/2));
      border: 2px solid variables.$color-border-gradient-3;
      border-radius: 21px;
      padding: 17px 15px 17px 21px;
    }

    @include mixins.respond(tablet){
      flex: 1 1 80%;
      max-width: 80%;
      border: 2px solid variables.$color-border-gradient-3;
      border-radius: 21px;
      padding: 17px 15px 17px 21px;
      margin: 0 auto;
    }

    @include mixins.respond(mobile){
      flex: 1 1 96%;
      max-width: 96%;
      border: 2px solid variables.$color-border-gradient-3;
      border-radius: 21px;
      padding: 17px 13px 17px 19px;
      margin: 0 auto;
    }

    @include mixins.respond(mobile-small){
      flex: 1 1 100%;
      max-width: 100%;
      border: 2px solid variables.$color-border-gradient-3;
      border-radius: 21px;
      padding: 17px 13px 17px 19px;
    }

    &:nth-child(odd){
      .top-sellers__percent{
        color: variables.$color-top-sellers-1;
        background: linear-gradient(135deg,
                variables.$color-top-sellers-bgc-1 0%,
                variables.$color-top-sellers-bgc-1 100%);
        border-color: variables.$color-top-sellers-border-1;
      }
    }

    &:nth-child(even){
      .top-sellers__percent{
        color: variables.$color-top-sellers-2;
        background: linear-gradient(135deg,
                variables.$color-top-sellers-bgc-2 0%,
                variables.$color-top-sellers-bgc-2 100%);
        border-color: variables.$color-top-sellers-border-2;
      }
    }
  }

  &__position{
    flex: 0 1 5.65%;
    font-size: 19px;
    font-weight: variables.$font-weight-medium;
    line-height: 2.32;
    opacity: 0.8;

    @include mixins.respond(laptop){
      font-size: 16px;
    }

    @each $breakpoint in tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 14px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 13px;
        margin-left: -4px;
      }
    }
  }

  &__avatar{
    flex: 0 1 17.99%;
    max-width: 70px;

    @include mixins.respond(laptop){
      max-width: 54px;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small {
      @include mixins.respond($breakpoint){
        max-width: 50px;
        margin-left: -5px;
      }
    }
  }

  &__info{
    flex: 0 1 41.13%;
  }

  &__name{
    font-size: 19px;
    text-align: left;
    line-height: 2.32;

    @include mixins.respond(laptop){
      font-size: 16px;
      line-height: 1.1;
    }

    @each $breakpoint in tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 15px;
        line-height: 1.1;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 13px;
      }
    }
  }

  &__coins{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    line-height: 3.21;
    fill: variables.$color-text;
    opacity: 0.8;
    margin: -8px 0 0 -4px;

    @include mixins.respond(laptop){
      font-size: 11px;
    }

    @each $breakpoint in tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 10px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 9px;
      }
    }

    svg{

      @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
        @include mixins.respond($breakpoint){
          width: 7px;
          height: 11px;
        }
      }
    }
  }

  &__percent{
    flex: 0 1 25.19%;
    font-size: 14px;
    line-height: 2.4;
    border: 1px solid;
    border-radius: 18px;
    padding: 2px 0 0;
    margin-top: 11px;

    @include mixins.respond(laptop){
      font-size: 13px;
    }

    @each $breakpoint in tablet-large, tablet {
      @include mixins.respond($breakpoint){
        font-size: 11px;
        margin-top: 7px;
      }
    }

    @each $breakpoint in mobile, mobile-small {
      @include mixins.respond($breakpoint){
        font-size: 10px;
        margin-top: 7px;
      }
    }
  }

  &__btn{
    width: 17%;
    margin-left: 42%;

    @include mixins.respond(laptop){
      width: 26%;
      max-width: 226px;
      margin: 0 auto;
    }

    @each $breakpoint in tablet-large, tablet, mobile, mobile-small{
      @include mixins.respond($breakpoint){
        display: none;
      }
    }
  }

  &__btn-inner{
    font-family: variables.$font-family-second;
    font-size: 19px;
    font-weight: variables.$font-weight-semi-bold;
    text-align: center;
    width: 100%;
    padding: 11px 0 16px;
  }

  &__btn-explore{
    margin: 0 auto;
  }

  &__btn-explore-inner{
    padding-left: 12px;
  }
}