@use "../variables/variables" as v;
@use "../variables/mixins" as m;

.what-NFT{
  background-image: url("../../assets/img/section4-What-NFT/section4-bg1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 556px;

  @include m.respond(mobile){
    background-size: 100% 300px;
  }


  &__wrapper{
    max-width: 1400px;
    font-family: v.$font-family-third;
    font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
    font-kerning: normal;
    padding: 218px 37px 160px 6px;
    margin: 0 auto;


    @include m.respond(mobile){
      max-width: 375px;
      padding: 0 24px;
    }
  }

  &__gradient-border{
    max-width: 583px;
    margin: 0 0 0 auto;

    @include m.respond(mobile){
      margin: 121px auto;
    }
  }

  &__info-about{
    max-width: 577px;
    background-color: v.$color-NFT-bgc;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    padding: 58px 47px 50px 71px;

    @include m.respond(mobile){
      max-width: 335px;
      padding: 34px 27px 29px 41px;
    }
  }

  &__title{
    font-size: v.$font-size-full-title-s;
    font-weight: v.$font-weight-extra-bold;
    line-height: 1.35;
    margin-bottom: 18px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-title-m;
      margin-bottom: 16px;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-title-s;
      margin-bottom: 10px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-title-s;
      margin-bottom: 10px;
    }
  }

  &__text{
    font-size: v.$font-size-full-l;
    font-weight: v.$font-weight-regular;
    line-height: 1.78;
    margin-bottom: 45px;

    @include m.respond(laptop){
      font-size: v.$font-size-full-xxs;
      margin-bottom: 32px;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-s;
      margin-bottom: 28px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-s;
      margin-bottom: 28px;
    }
  }

  &__more{
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: v.$font-size-full-xs;
    font-weight: v.$font-weight-medium;
    line-height: 1.5;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xs;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xs;
    }


    button{
      display: flex;
      align-items: center;
      gap: 9px;
      font-family: v.$font-family-third;
      font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
      font-size: v.$font-size-full-xs;
      font-weight: v.$font-weight-medium;
      color: v.$color-text;
      background-color: transparent;
      line-height: 1.5;
      border: none;

      @include m.respond(laptop){
        font-size: v.$font-size-mobile-s;
      }

      @include m.respond(tablet){
        font-size: v.$font-size-mobile-xs;
      }

      @include m.respond(mobile){
        font-size: v.$font-size-mobile-xs;
      }

      svg{
        fill: v.$color-text;

        @include m.respond(tablet){
          width: 8px;
          height: 11px;
        }

        @include m.respond(mobile){
          width: 8px;
          height: 11px;
        }
      }
    }
  }

  &__container{
    max-width: 1266px;
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-top: 160px;

    @include m.respond(mobile){
      gap: 0;
      flex-direction: column-reverse;
      margin-top: 108px;
    }

    img{
      flex: 1 1 calc(58.78% - 38px);
      max-width: calc(58.78% - 38px);

      @include m.respond(mobile){

        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  &__inner{
     margin-top: 31px;
  }

  &__subscribe{
    h4{
      font-family: v.$font-family-primary;
      font-size: v.$font-size-full-xxxl;
      font-weight: v.$font-weight-bold;
      margin-bottom: 36px;

      @include m.respond(laptop){
        font-size: v.$font-size-mobile-title-m;
        margin-bottom: 24px;
      }

      @include m.respond(tablet){
        font-size: v.$font-size-full-xxl;
        margin-bottom: 18px;
      }

      @include m.respond(mobile){
        font-size: v.$font-size-full-xxl;
        margin-bottom: 18px;
      }
    }
  }

  &__text_subscribe{
    font-size: v.$font-size-full-m;
    letter-spacing: 0.025em;
    margin-bottom: 50px;

    @include m.respond(laptop){
      font-size: v.$font-size-full-xxs;
      margin-bottom: 40px;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-l;
      margin-bottom: 32px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-l;
      margin-bottom: 32px;
    }
  }

  &__form{
    max-width: 429px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;

    @include m.respond(tablet){
      gap: 6px;
      max-width: 85.6%;
    }

    @include m.respond(mobile){
      gap: 6px;
      max-width: 85.6%;
    }

    button{
      font-family: v.$font-family-third;
      font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
      letter-spacing: 0.025em;
      font-size: v.$font-size-mobile-xxl;
      font-weight: v.$font-weight-medium;
      line-height: 1.43;
      backdrop-filter: blur(231px);
      box-shadow: 0 5px 117px 0 v.$color-form-box-shadow;
      border-radius: 0 6px 6px 0;
      padding: 8px 33px 12px;

      @include m.respond(tablet){
        font-size: v.$font-size-mobile-xs;
        padding: 7px 22px 10px;
      }

      @include m.respond(mobile){
        font-size: v.$font-size-mobile-xs;
        padding: 7px 22px 10px;
      }
    }
  }

  &__email{
    flex: 1 1 calc(64.77% - 3px);
    background-color: v.$color-form-background;
    border-radius: 6px 0 0 6px;
    padding: 15px 0 15px 16px;

    @include m.respond(tablet){
      border-radius: 4px 0 0 4px;
      padding: 8px 0 8px 11px;
    }

    @include m.respond(mobile){
      border-radius: 4px 0 0 4px;
      padding: 8px 0 8px 11px;
    }

    &::placeholder{
      font-family: v.$font-family-third;
      font-feature-settings:  'salt' 1, 'calt'1, 'liga' 1;
      letter-spacing: 0.025em;
      font-size: v.$font-size-mobile-xxl;
      line-height: 1.71;
      color: v.$color-form-placeholder;

      @include m.respond(tablet){
        font-size: v.$font-size-mobile-xs;
      }

      @include m.respond(mobile){
        font-size: v.$font-size-mobile-xs;
      }
    }
  }
}
