@use "../variables/variables" as v;
@use "../variables/mixins" as m;

.top-sellers{
  &__wrapper{
    max-width: 1448px;
    text-align: center;
    padding: 160px 32px;
    margin: 0 auto;

    @include m.respond(laptop){
      max-width: 1100px;
      padding: 100px 30px 0;
    }

    @include m.respond(tablet){
      max-width: 450px;
      padding: 108px 25px 0;
    }

    @include m.respond(mobile){
      max-width: 375px;
      padding: 115px 25px 0;
    }
  }

  &__title{
    letter-spacing: 0.02em;
    padding-left: 24px;
    margin-bottom: 27px;

    @include m.respond(tablet){
      font-size: v.$font-size-full-m;
      cursor: pointer;
      margin-bottom: 17px;
    }
    @include m.respond(mobile){
      font-size: v.$font-size-full-m;
      cursor: pointer;
      margin-bottom: 17px;
    }

    span{
      color: v.$color-gradient-4;
    }

    svg{
      fill: v.$color-gradient-4;
      transition: transform 0.6s ease;


      @include m.respond(tablet){
        width: 10px;
        height: 6px;
      }

      @include m.respond(mobile){
        width: 10px;
        height: 6px;
      }

      &.active{
        @include m.respond(tablet){
          transform: rotate(180deg);
        }

        @include m.respond(mobile){
          transform: rotate(180deg);
          width: 10px;
          height: 6px;
        }
      }
    }


  }

  &__text{
    max-width: 506px;
    font-family: v.$font-family-fourth;
    font-size: v.$font-size-full-xs;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding-left: 12px;
    margin: 0 auto 57px;

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xl;
      margin-bottom: 27px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xl;
      margin-bottom: 29px;
    }
  }

  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 62px;

        @include m.respond(tablet){
      max-height: 434px;
      overflow: hidden;
      transition: max-height 03s ease;
      gap: 23px;
      margin-bottom: 32px;
    }

    @include m.respond(mobile){
      max-height: 434px;
      overflow: hidden;
      transition: max-height 03s ease;
      gap: 23px;
      margin-bottom: 32px;
    }

    &.active{
      max-height: 1800px;
    }
  }

  &__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    flex: 0 1 calc((100%/3) - (68px/3));
    max-width: calc((100%/3) - (68px/3));
    border-radius: 29px;
    border: 3px solid v.$color-border-gradient-3;
    backdrop-filter: blur(76px);
    -webkit-backdrop-filter: blur(76px);
    font-family: v.$font-family-fourth;
    font-weight: v.$font-weight-medium;
    padding: 23px 17px 15px 22px;

    @include m.respond(laptop){
      flex: 0 1 calc((100%/2) - (34px/2));
      max-width: calc((100%/2) - (34px/2));
    }

    @include m.respond(tablet){
      flex: 1 1 100%;
      max-width: 100%;
      border: 2px solid v.$color-border-gradient-3;
      padding: 17px 15px 17px 21px;
    }

    @include m.respond(mobile){
      flex: 1 1 100%;
      max-width: 100%;
      border: 2px solid v.$color-border-gradient-3;
      padding: 17px 15px 17px 21px;
    }

    &:nth-child(odd){
      .top-sellers__percent{
        color: v.$color-top-sellers-1;
        background: linear-gradient(135deg,
                v.$color-top-sellers-bgc-1 0%,
                v.$color-top-sellers-bgc-1 100%);
        border-color: v.$color-top-sellers-border-1;
      }
    }

    &:nth-child(even){
      .top-sellers__percent{
        color: v.$color-top-sellers-2;
        background: linear-gradient(135deg,
                v.$color-top-sellers-bgc-2 0%,
                v.$color-top-sellers-bgc-2 100%);
        border-color: v.$color-top-sellers-border-2;
      }
    }
  }

  &__position{
    flex: 0 1 5.65%;
    font-size: v.$font-size-full-m;
    font-weight: v.$font-weight-medium;
    line-height: 2.32;
    opacity: 0.8;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-xxl;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-l;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-l;
    }
  }

  &__avatar{
    flex: 0 1 17.99%;
    max-width: 70px;

    @include m.respond(laptop){
      max-width: 54px;
    }

    @include m.respond(tablet){
      max-width: 50px;
    }

    @include m.respond(mobile){
      max-width: 50px;
    }
  }


  &__info{
    flex: 0 1 41.13%;
  }

  &__name{
    font-size: v.$font-size-full-m;
    text-align: left;
    line-height: 2.32;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-xxl;
      line-height: 1.1;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-l;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-l;
    }
  }

  &__coins{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: v.$font-size-mobile-l;
    line-height: 3.21;
    fill: v.$color-text;
    opacity: 0.8;
    margin-top: -6px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xxs;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xxs;
    }

    svg{
      @include m.respond(tablet){
        width: 7px;
        height: 11px;
      }

      @include m.respond(mobile){
        width: 7px;
        height: 11px;
      }
    }
  }

  &__percent{
    flex: 0 1 25.19%;
    font-size: v.$font-size-mobile-xl;
    line-height: 2.4;
    border: 1px solid;
    border-radius: 18px;
    padding: 2px 0 0;
    margin-top: 11px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-s;
    }

    @include m.respond(tablet){
      font-size: v.$font-size-mobile-xs;
      margin-top: 7px;
    }

    @include m.respond(mobile){
      font-size: v.$font-size-mobile-xs;
      margin-top: 7px;
    }

  }

  &__btn{
    font-family: v.$font-family-second;
    font-size: v.$font-size-full-m;
    font-weight: v.$font-weight-semi-bold;
    text-align: center;
    min-width: 17%;
    padding: 11px 0;
    margin-left: 12px;

    @include m.respond(laptop){
      font-size: v.$font-size-mobile-xxl;
      width: 26%;
      max-width: 226px;
    }

    @include m.respond(tablet){
      display: none;
    }

    @include m.respond(mobile){
      display: none;
    }
  }

  &__btn-explore{
    margin: 0 auto;
  }


}